body {
  background: #121212;
  color: #efefef;
}

section {
  border: solid 1px white;
  margin: 1em 1em 2em;
  padding: 1em 2em;
  border-radius: 1em;
}

pre {
  background: #eee;
  color: #aa0000;
  padding: 2px 4px;
  font-weight: bold;
}
